body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* ..........left side design start.......... */

.main-left {
  background-color: white;
  height: 100%;
}

.admin-hazard-location-header-box {
  display: flex;
  justify-content: flex-start;
  background-color: rgb(199, 207, 207);
  height: 20%;
  width: 80%;
  border-bottom-right-radius: 200px;
  margin-left: -5%;
  margin-bottom: 4%;
}

.admin-hazard-location-title {
  font-size: 4rem;
  text-align: left;
  font-weight: bolder;
  margin-left: 5%;
  color: #e4f2e7;
}

.admin-hazard-location-dropdown-box {
  height: 15%;
  width: 60%;
  justify-content: center;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 4%;
  background-color: rgb(199, 207, 207);
}

.admin-hazard-location-radio-button-box {
  height: 40%;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 4%;
  background-color: rgb(199, 207, 207);
}

.admin-hazard-location-button-box {
  background-color: rgb(199, 207, 207);
  height: 10%;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
}

/* ..........right side design start.......... */
.main-right {
  background-color: #787a7c;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.right-admin-hazard-location-header-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(199, 207, 207);
  height: 10%;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.right-admin-hazard-location-location-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(199, 207, 207);
  height: 15%;
  width: 80%;
  margin-left: 10%;
  margin-right: 21%;
  margin-bottom: 4%;
}

.right-admin-hazard-location-possible-hazards-main-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(199, 207, 207);
  height: 60%;
  width: 90%;
  margin-bottom: 4%;
  margin-left: 5%;
  margin-right: 5%;
}

.right-admin-hazard-location-possible-hazards-title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(155, 136, 138);
  height: 12%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.right-admin-hazard-location-possible-hazards-box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(155, 136, 138);
  height: 15%;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 3%;
}

.right-admin-hazard-location-possible-hazards-box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(155, 136, 138);
  height: 15%;
  width: 70%;
  margin-left: 15%;
  margin-right: 25%;
  margin-bottom: 3%;
}
