.container-flex {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  width: 100%;
  height: 100%;
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #387373;
}

/* header line start  */
.custom-shape {
  background-color: #387373;
  height: 70%;
  width: 80%;
  max-width: 500px; /* Adjust max-width as needed for responsiveness */
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.text-custom-light {
  color: #e4f2e7;
  position: absolute;
  text-align: left;
}

.title-text {
  font-size: 3.5rem;
  text-align: left;
  margin-top: 3%;
}

@media (max-width: 1500px) {
  .custom-shape {
    height: 24rem;
    max-width: 600px; /* Adjust max-width for smaller screens */
  }

  .text-5xl {
    font-size: 2.5rem; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 1200px) {
  .custom-shape {
    height: 20rem;
    max-width: 400px; /* Adjust max-width for smaller screens */
  }

  .text-5xl {
    font-size: 2.5rem; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 992px) {
  .custom-shape {
    height: 15rem;
    max-width: 300px; /* Adjust max-width for tablets and smaller screens */
  }

  .text-5xl {
    font-size: 2rem; /* Adjust font size for tablets and smaller screens */
  }
}

@media (max-width: 576px) {
  .custom-shape {
    height: 12rem;
    max-width: 250px; /* Adjust max-width for mobile devices */
  }

  .text-5xl {
    font-size: 5rem; /* Adjust font size for mobile devices */
  }
}

/* header line end  */

.radio-buttons-container {
  align-items: center;
  text-align: center;
  margin-top: 10%;
  padding: 5%;
}

.form-check {
  display: flex;
  align-items: center;
  margin-bottom: 0%;
  margin-top: 0%;
}

.custom-radio-label {
  color: #387373;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 20%; /* Adjust the margin as needed */
  margin-right: 2%;
  margin-bottom: 1%;
}

.custom-radio {
  position: absolute;
  opacity: 0;
}

.custom-radio + .custom-radio-label::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  border: 4px solid #387373;
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;
}

.custom-radio:checked + .custom-radio-label::before {
  background-color: #387373;
  background-image: radial-gradient(circle, white 50%, transparent 50%);
}

.button {
  margin-left: 25%;
  margin-right: 30%;
  align-items: start;
  background-color: #387373;
  width: 40%;
  margin-bottom: 10%;
  font-weight: bolder;
  font-size: 2rem;
}
.title {
  font-size: 3rem;
  color: #daf1f1;
  font-weight: bolder;
  margin: 0%;
}

.line {
  width: 70%;
  border: 3px solid hsl(180, 45%, 90%);
  margin-bottom: 3%;
}

.box {
  background-color: #daf1f1;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 1%;
  color: #387373;
  border-radius: 10px;
  font-weight: bolder;
  width: 75%;
  margin-top: 1%;
  margin-bottom: 10%;
}

.box2 {
  background-color: #033b3b;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 1.5%;
  color: #daf1f1;
  width: 65%;
  border-radius: 10px;
  margin-bottom: 4%;
  font-weight: bolder;
}

.possible {
  font-size: 2rem;
  margin-top: 4%;
  color: #daf1f1;
  font-weight: bolder;
}

#dropdown-basic {
  width: 50%;
  background-color: #387373;
  color: white;
}
