body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* ..........left side design start.......... */

.main-left {
  background-color: white;
  height: 100%;
}

.hazard-location-header-box {
  display: flex;
  justify-content: flex-start;
  background-color: rgb(165, 168, 168);
  height: 20%;
  width: 80%;
  border-bottom-right-radius: 200px;
  margin-left: -5%;
  margin-bottom: 12%;
}

.hazard-location-title {
  font-size: 3rem;
  text-align: center;
  font-weight: bolder;
  margin-left: 15%;
  color: #e4f2e7;
  margin-bottom: 5%;
  justify-content: center;
}

.hazard-location-dropdown-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(165, 168, 168);
  height: 20%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 12%;
}

.hazard-location-button-box1 {
  background-color: rgb(165, 168, 168);
  height: 10%;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 9%;
}

.hazard-location-button-box2 {
  background-color: rgb(165, 168, 168);
  height: 10%;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 15%;
}

/* ..........right side design start.......... */
.main-right {
  background-color: #787a7c;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.hazard-location-location-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(199, 207, 207);
  height: 10%;
  width: 80%;
  margin-top: 8%;
  margin-bottom: 8%;
  margin-left: 10%;
  margin-right: 10%;
}

.hazard-location-possible-main-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(199, 207, 207);
  height: 70%;
  width: 90%;
  margin-bottom: 12%;
  margin-left: 5%;
  margin-right: 5%;
}

.hazard-location-possible-header-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 247, 247);
  height: 10%;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.hazard-location-possible-content-box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 247, 247);
  height: 15%;
  width: 50%;
  margin-bottom: 3%;
  margin-left: 25%;
  margin-right: 25%;
}

.hazard-location-possible-content-box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 247, 247);
  height: 15%;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 3%;
}
