/* styles.css */
.hazard-LoginPage-radio-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hazard-LoginPage-radio-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hazard-LoginPage-radio-label input[type="radio"] {
    display: none; /* Hide the native radio button */
}

.hazard-LoginPage-custom-radio {
    width: 20px;
    height: 20px;
    border: 2px solid #387373;
    border-radius: 50%;
    position: relative;
    margin-right: 8px;
}

.hazard-LoginPage-radio-label input[type="radio"]:checked + .hazard-LoginPage-custom-radio {
    background-color: #387373; /* Change the color when checked */
}

.hazard-LoginPage-radio-label input[type="radio"]:checked + .hazard-LoginPage-custom-radio::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
