body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* ..........left side design start.......... */

.main-left {
  background-color: white;
  height: 100%;
}

.LPheader-box {
  display: flex;
  justify-content: flex-start;
  background-color: rgb(199, 207, 207);
  height: 20%;
  width: 80%;
  border-bottom-right-radius: 200px;
  margin-left: -5%;
  margin-bottom: 4%;
}

.LPtitle {
  font-size: 3rem;
  text-align: center;
  font-weight: bolder;
  margin-left: 15%;
  color: #e4f2e7;
  margin-bottom: 10%;
  justify-content: center;
}

.LPinput-details-main-box {
  background-color: rgb(207, 215, 221);
  height: 58%;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 4%;
}

.LPinput1-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(124, 116, 116);
  height: 10%;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.LPinput2-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(124, 116, 116);
  height: 10%;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 2%;
}

.LPbutton-box {
  background-color: rgb(207, 215, 221);
  height: 10%;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 4%;
}

/* ..........right side design start.......... */
.main-right {
  background-color: #787a7c;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.LPoutput-details-main-box {
  background-color: rgb(183, 189, 194);
  height: 74%;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15%;
  margin-bottom: 13%;
}

.right-LPoutput-title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(124, 116, 116);
  height: 15%;
  width: 80%;
  margin-top: 3%;
  margin-bottom: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

.right-LPoutput-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(124, 116, 116);
  height: 12%;
  width: 80%;
  margin-bottom: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* ..........left side design start.......... */

.main-left {
  background-color: white;
  height: 100%;
}

.LPheader-box {
  display: flex;
  justify-content: flex-start;
  background-color: rgb(199, 207, 207);
  height: 20%;
  width: 80%;
  border-bottom-right-radius: 200px;
  margin-left: -5%;
  margin-bottom: 4%;
}

.LPtitle {
  font-size: 3rem;
  text-align: center;
  font-weight: bolder;
  margin-left: 15%;
  color: #e4f2e7;
  margin-bottom: 10%;
  justify-content: center;
}

.LPinput-details-main-box {
  background-color: rgb(207, 215, 221);
  height: 58%;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 4%;
}

.LPinput1-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(124, 116, 116);
  height: 10%;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.LPinput2-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(124, 116, 116);
  height: 10%;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 2%;
}

.LPbutton-box {
  background-color: rgb(207, 215, 221);
  height: 10%;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 4%;
}

/* ..........right side design start.......... */
.main-right {
  background-color: #787a7c;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.LPoutput-details-main-box {
  background-color: rgb(207, 215, 221);
  height: 74%;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 13%;
  margin-bottom: 13%;
}

.right-LPoutput-title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(124, 116, 116);
  height: 15%;
  width: 80%;
  margin-top: 3%;
  margin-bottom: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

.right-LPoutput-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(124, 116, 116);
  height: 12%;
  width: 80%;
  margin-bottom: 2%;
  margin-left: 10%;
  margin-right: 10%;
}
